body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  width: 100%;
  background-color: #182628;
  border: none;
  border-radius: 0px;
  position: fixed;
  top: 0;
}

.startButton{

}
.startButton:hover{

}

.stopButton{

}

.stopButton:hover{

}

.navbar-nav > li > a{
  color: #E7E3D4 !important;
}

.inlineflex .ms-ChoiceField{
  display: inline-block;
} 

.ms-ChoiceField {
  padding: 20px;
}

.carousel-indicators {
  display: none;
}

.form-control-feedback {
  top: 35px !important;
}

#submitButton {
  margin: 30px;
}
